  <div class="table-title">
    <h3>
      Players
    </h3>
  </div>


  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left"> Avatar</th>
        <th class="text-left">User Name</th>
      </tr>
    </thead>

    <tbody class="table-hover">
      <% @users.each do |user| %>
        <tr>
          <td class="text-left">
            <%= image_tag "#{user.avatar}" %>
          </td>

          <td class="text-left">
            <%= link_to(user.username, user_path(user)) %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
