<div class="table-title">
  <h3>
    Below a List of Tournaments that
    <%= @user.username %>
    Belongs to!
  </h3>
</div>


<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Tournament Name</th>
     </tr>
  </thead>

  <tbody class="table-hover">
    <% @user.tournaments.each do |tourny| %>
      <tr>
        <td class="text-left">
          <li><%=tourny.name %></li>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
