    <h1>Below a List of all Active Tournaments</h1>

    <h2>
      <%= link_to("Create a New Tournament!", tournaments_new_path) %>
    </h2>

    <ul>
      <% @tournaments.each do |tourny| %>
        <li>
          <%= link_to(tourny.name, tournament_path(tourny)) %>
        </li>
      <% end %>
    </ul>
