  <div class="table-title">
    <h3>
      Below a List of all Active Tournaments
    </h3>
  </div>


  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left">Tournament Name</th>
        <th class="text-left">Game</th>
      </tr>
    </thead>

    <tbody class="table-hover">
      <% @tournaments.each do |tourny| %>
        <tr>
          <td class="text-left">
            <%= link_to(tourny.name, tournament_path(tourny))%>
          </td>
          <td class="text-left">
            <%= link_to(tourny.game.name, game_path(tourny))%>
          </td>

        </tr>
      <% end %>

    </tbody>
  </table>
