
<div class="table-title">
  <h3>
    <%= @tournament.name %>
  </h3>
</div>


<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Avatar</th>
      <th class="text-left">Player</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @tournament.users.each do |u| %>
      <tr>
        <td class="text-left">
          <%= link_to((image_tag "#{u.avatar}"), u) %>
        </td>
        <td class="text-left">
          <%= link_to(u.username, u) %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
