<div class="table-title">
  <h3>
    Below a List of all Active Games
  </h3>
</div>


<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Game Picture</th>
      <th class="text-left">Game Name</th>
      <th class="text-left"># of Tournaments Available</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @games.each do |game| %>
      <tr>
        <td class="text-left">
          <%= link_to(game.name, game_path(game)) %>
        </td>
        <td class="text-left">
          <%= link_to(game.name, game_path(game)) %>
        </td>
        <td class="text-left">
          <%= link_to(game.tournaments.count, game_path(game)) %>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
