<div class="table-title">
  <h3>
    The
    <%= @game.name %>
  </h3>
</div>

<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Tournament Name</th>
      <th class="text-left"># of Participants</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @game.tournaments.each do |g| %>
      <tr>
        <td class="text-left">
          <%=link_to g.name, tournament_path(g) %>
        </td>
        <td class="text-left">
          <%=link_to(g.users.count, tournament_path(g) )%>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
