<div class="table-title">
  <h3>
    Below a List of Tournaments that belong to..
    <%= @game.name %>
  </h3>
</div>

<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Tournament Name</th>
      <th class="text-left"># of Participants</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @game.tournaments.each do |g| %>
      <tr>
        <td class="text-left">
          <%=g.name%>
        </td>
        <td class="text-left">
          <%=g.users.count%>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
