/* css reset */
* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* @import 'bootstrap-sprockets';
@import 'bootstrap'; */
body {
  background-color: black;
}

p {
  text-align:  center;

}
h2 {
  color: white;
}
/********** NAV BAR *********/
nav {
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/****** NAV  BAR END ********/

html, body, section {
	height: 100%;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body {
  padding-top: 10px;

/*   text-align: center; */
}

header {
  background-color: #000000;
}

a {
  color: white;
}
.container {
	display: flex;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.10));

	background-size: cover;
	background-position: center;
	flex: 1;
	padding: 1rem;
	transition: all .2s ease-in-out;
}

.right {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.10));
	background-size: cover;
	background-position: center;
	flex: 1;
	padding: 1rem;
	transition: all .2s ease-in-out;
}

.left:hover, .right:hover {
	transform: scale(0.95);
}

.left h1 {
	font-family: 'arial', cursive;
	font-size: 4rem;
  text-align: center;
}

.right h1 {
	font-family: 'arial', cursive;
	font-size: 4rem;
}

.button {
	border-radius: 30px;
	color: #ffff;
	background-color: #000000;
	padding: 1.5%;
	margin: 0 2%;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.3s;
	width: 150px;
}

.button:hover {
	background: #fcc567;
	color: #fff;
}

/* BANNER */
#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
@keyframes cf3FadeInOut {
0% {
opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
/****** experimental nav ***************/
